/* member 공통 */
#member > div > nav > p {
    float: right;
    font-size: 11px;
    margin-top: -20px;
    color: #888;
}
#member > div > nav > p > strong {
    font-weight: bold;
}

#member > div > form > table {
    float: left;
    border-collapse: collapse;

    margin-right: 6px;
}

#member > div > form > table tr {
}

#member > div > form > table tr > td {
    padding: 2px;
}

#member > div > form > table tr > td:nth-child(1){
    font-size: 14px;
    font-weight: bold;
}

#member > div > form > table div {
    margin-top: 4px;
}

#member > div > form > table input {
    width: 200px;
    height: 31px;
    padding: 0 13px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    color: #0075d4;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 0 10px #eee;
}

#member > div > div {
    padding: 30px;
    text-align: center;
}

#member > div > div > a {
}

/* login(로그인화면) */
#member > .login {
    width: 900px;
    height: auto;
    margin: 0 auto;
}
#member > .login > img[alt="banner"] {
    display: block;
    margin: 36px auto;
}

#member > .login > nav {
    border-bottom: 2px solid #0e6ad3;
}

#member > .login > nav > h1 {
    font-size: 24px;
    margin-bottom: 6px;
}

#member > .login > form {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-bottom: 1px solid #b3b3b3;
    padding-top: 60px;
    padding-left: 10px;
    box-sizing: border-box;
}

#member > .login > form > div {
    float: left;
    margin: 0 10px;
}

#member > .login > form > input[type="submit"] {
    float: left;
    width: 97px;
    height: 71px;
    background-image: url("../img/member_btn_login.gif");
    font-size: 0;
    border: none;
}

#member > .login > form > span {
    clear: left;
    display: block;
    margin-top: 100px;
    margin-left: 86px;
}

#member > .login > form > span a {
    display: inline-block;
    height: 13px;
    margin: 0;
    padding: 0 6px;
    color: #676767;
    border-left: 1px solid #999;
    font-weight: bold;
}
#member > .login > form > span a:last-child {

}

#member > .login > form > .banner {
    position: absolute;
    right: 0;
    top: 16px;
}

/* join(구매자or판매자 회원가입 선택화면) */

#member > .join {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

#member > .join > .welcome {
    display: block;
    margin: 10px auto;
}

#member > .join > .type {
    width: 100%;
    height: 200px;
    margin: 60px auto;
}

#member > .join > .type > div {
    width: 420px;
    height: 100%;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    overflow: hidden;
}

#member > .join .normal {
    float: left;
}

#member > .join .seller {
    float: right;
}

#member > .join .banner {
    display: block;
    margin-bottom: 20px;
}

#member > .join > .type > div > .txt{
    padding: 40px;
}

#member > .join > .type > div > .txt > a {
    float: right;
}

/* signup(약관동의) */
#member > .signup {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

#member > .signup > nav {
    border-bottom: 2px solid #0e6ad3;
}

#member > .signup > nav > h1{
    font-size: 24px;
    margin-bottom: 6px;
}

#member > .signup h3 {
    font-size: 14px;
    margin-top: 26px;
    margin-bottom: 6px;
}

#member > .signup h3 > span.essential {
    color: #ef3f43;
    margin-right: 5px;
}

#member > .signup h3 > span.optional {
    color: #01c1c4;
    margin-right: 5px;
}

#member > .signup textarea {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    border: 1px solid #bababa;
    box-sizing: border-box;
    resize: none;
}
#member > .signup label {
    float: right;
    font-size: 14px;
}

#member > .signup input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: bottom;
}

#member > .signup input.agree {
    display: block;
    background: #ef3f43;
    color: #fff;
    font-size: 20px;
    padding: 10px 72px;
    margin: 40px auto;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
}

/* register */

#member > .register {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    
}

#member > .register > nav {
    border-bottom: 2px solid #0e6ad3;
}

#member > .register > nav > h1 {
    font-size: 24px;
    margin-bottom: 6px;
}

#member > .register table {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #b6bdc7;
    border-collapse: collapse;
    border-spacing: 0;
}

#member > .register table * {
}

#member > .register table caption {
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 12px;
    font-weight: 500;
}

#member > .register table th {
    width: 200px;
    padding: 20px 20px;
    vertical-align: top;
    background: #f4f6f9;
    font-weight: 500;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word;
    font-size: 14px;
}

#member > .register table td {
    position: relative;
    vertical-align: middle;
    padding: 10px 20px;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word;
    font-size: 14px;
    font-weight: 500;
}

#member > .register table input {
    padding: 0 8px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #dfe5ed;
    vertical-align: middle;
}

#member > .register table label {
    display: inline-block;
    width: 60px;
    font-size: 17px;
}

#member > .register table .addr input {
    margin-top: 6px;
}

#member > .register table .addr th {
    padding-left: 30px;
}

#member > .register table .essential {
    color: #ef3f43;
    vertical-align: middle;
    margin-right: 5px;
}

#member > .register form input[type="submit"] {
    display: block;
    background: #ef3f43;
    color: #fff;
    font-size: 20px;
    padding: 10px 72px;
    margin: 40px auto;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
}

/* registerSeller(판매자회원가입) */
#member > .registerSeller {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}
#member > .registerSeller > nav {
    border-bottom: 2px solid #0e6ad3;
}

#member > .registerSeller > nav > h1 {
    font-size: 24px;
    margin-bottom: 6px;
}

#member > .registerSeller table {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #b6bdc7;
    border-collapse: collapse;
    border-spacing: 0;
}

#member > .registerSeller table caption {
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 12px;
    font-weight: 500;
}

#member > .registerSeller table th {
    width: 200px;
    padding: 20px 20px;
    vertical-align: top;
    background: #f4f6f9;
    font-weight: 500;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word;
    font-size: 14px;
}

#member > .registerSeller table td {
    position: relative;
    vertical-align: middle;
    padding: 10px 20px;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word;
    font-size: 14px;
    font-weight: 500;
}

#member > .registerSeller table input {
    padding : 0 8px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #dfe5ed;
    vertical-align: middle;
}

#member > .registerSeller table label {
    display: inline-block;
    width: 60px;
    font-size: 17px;
}

#member > .registerSeller table .addr input {
    margin-top: 6px;
}

#member > .registerSeller table .essential {
    color: #ef3f43;
    vertical-align:middle;
    margin-right: 5px;
}

#member > .registerSeller form input[type="submit"] {
    display: block;
    background: #ef3f43;
    color: #fff;
    font-size: 20px;
    padding: 10px 72px;
    margin: 40px auto;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
}